
html, body{
    height: 100%;
}
main{
    background-image: url(../images/background.jpg);
    background-size: cover;
    height: 100vh;
}
/* דף בית.......................................................................... */
.profile{
    width: 700px;
    display: block;
    background-color:rgba(47, 79, 79, 0.5);
     padding: 30px;
    margin: 0 auto;
    text-align: center;
    color:white;
}
 .profile h1{
    margin-bottom:10px;
    font-size: 60pt;
}

.profile h2{
   margin:15px;
   margin-bottom: 30px;
   font-size: 20pt;
}
.profilepic {
    height: 400px;
    width:400px;
    border-radius:50%;
    opacity: 1.0;
}
.wellcome{
    font-size: 30pt;
    color: black;
    
}
.intro{
    background-color:rgba(254, 254, 254, 0.4);
    padding:20px;
}
.per{
    font-size: 20pt;
    color: black;
}

ul {
    list-style:none;
}    

nav ul li 
{ 
    display:inline-block;  
}

nav ul li a{
    display:block;   
    background-color: rgba(250, 226, 226, 0.7);
    width: 120px; 
    height: 30px; 
    padding: 20px; 
    text-decoration: none; 
    text-align: center;
    font-size: 20pt;
    color: black;

}
nav ul li:hover{
    background-color:rgba(254, 254, 254, 0.9); 
}   
nav ul li:active{
    background-color:rgb(131, 8, 8);
}
.pages
{ 
    display: none; 
    position: absolute;
}
nav ul li:hover>.pages 
{
    display: block;
}
.pages li{
    display: block;
    text-align: center;
}
.pages li a
{
    font-size: 1.1em;
    color:rgb(107, 22, 22);;
}

#social-icons 
{
    margin-top: 100px; 
   font-size: 40pt;
    text-decoration: none;
    padding: 40px;
    display: block;
    text-align: center; 
    position: relative;
    bottom: 1%;
}
.fa-facebook-square {
        background-color: white;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        color:black;
        text-decoration: none;
        padding: 10px;
     
    }
   
 .fa-whatsapp{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color:black;
    text-decoration: none;
    padding: 10px;
   
 }
 .fa-soundcloud {
    background-color: white;
    border-radius: 100%;
    width: 50px; 
    height: 50px;
    color:black;
    text-decoration: none;
    padding: 10px;
   
 }
 .fa-google{
    background-color: white;
    border-radius: 80%;
    width: 50px;
    height: 50px;
    color:black;
    text-decoration: none;
    padding: 10px;
 }
 .fa{
    background-color:rgba(red, green, blue, alpha,rgba(47, 79, 79, 0.5));
    
 }
.fa:hover{
background:rgba(145, 3, 3, 0.6);
}



/* page 1//////////////////////////////////////////////////////////////// */


/*page 2 education///////////////////////////////////////////////////////////// */
 
.Education h1{
    font-size: 50pt;
}
 #manu h2{
     font-size: 25pt;
 }
 #manu p{
     font-size: 18pt;
 }




.edu h2

{   background: white;
    display:inline-block;
    font-size: 25pt;
    text-align: center;
    color: black;
    padding-top:20px;
    font-weight: inherit;
}
.edu h2:hover{
    background-color:rgba(250, 226, 226, 0.7);
    display: inline-block;
    text-align: center;
}
   




/* page 3/////////////////////////////////////////////////// */

.occu{
    background-color: rgba(254, 254, 254, 0.5);

    
    
}

.occu h2
{
    display:inline-block;
    font-size: 25pt;
    
    text-align: center;
    color: black;
    padding-top:20px;
    font-weight: inherit;
}
.occu h2:hover{
    background-color:rgba(254, 254, 254, 0.9);
    height: 60px;
    width: 300px;
    display: inline-block;
}
   
.occu:hover.occu>p {
   display: block;
}
.occu p{
   font-size:25pt;
   display: none; 
   color:rgb(131, 8, 8);
}

.photo{
    background-color: rgba(254, 254, 254, 0.5);
   
}

.photo h2
{
    display:inline-block;
    font-size: 25pt;
    text-align: center;
    color: black;
    padding-top:20px;
    font-weight: inherit;
}
.photo h2:hover{
    background-color:rgba(254, 254, 254, 0.9);
    height:60px;
    width: 300px;
    display: inline-block;
    text-align: center;
}
   
.photo:hover.photo>p {
   display: inline-block;
}
.photo p{
   font-size:25pt;
   display: none; 
   color: rgb(131, 8, 8);
}




    /* page 4 hobbies////////////////////////////////////////////////////// */   



.hobbi{
 background-color: rgba(254, 254, 254, 0.5);
 
}

.hobbi h2{
        display:inline-block;
        font-size: 25pt;
        text-align: center;
        color: black;
        padding-top:20px;
        font-weight: inherit;
    
}
.hobbi h2:hover{
    background-color:rgba(254, 254, 254, 0.9);
   
    
}
 .hobbi:hover.hobbi>p {
    display:block;
}
.hobbi p{
    font-size:25pt;
    display: none; 
    color: black;
}














