body,html{
    height: 100%;
    direction: rtl;
}
#backgroundimage{
    background-image:url(../images/main.jpg);
    background-size: cover;
    height: 100vh;
    max-height: 600px;
    position: relative;
}
#mainpic{
    height: 100vh;
    width: 100vw;
    background-color: rgba(185, 182, 182, 0.4);
    position: relative;
    max-height: 600px;
    color:rgba(3, 79, 114, 1.3);

}
#mainpic h1{
    color: rgba(1, 43, 63, 0.9);
    text-align: center;
    font-size: 60px;
    padding-right: 150px;
    padding-top: 60px;
    font-family: 'Heebo', sans-serif;
  
   
    
}
#hit{
    background-color: rgba(3, 79, 114, 0.9);
    max-width: 300px;
    height:577px;
    width: 300px;
    display: block;
    position: relative;
    bottom:270px; 
   text-align: center
}
h2{
    color:white;
    text-align: center;
    font-family: 'Alef', sans-serif;
}
form{
    text-align: center;
    color: white;
     font-size:30px;
     font-family: 'Alef', sans-serif;

    }

.pargh{
    background-color:white;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 250px;
    font-family: 'Heebo', sans-serif;
}
.sms{
    font-size: 10px;
    font-family: 'Alef', sans-serif;
  
    
}
#phone{
    font-size: 12px;
    display: inline-block;
   font-family: 'Alef', sans-serif;   
   position: relative;
   right:18px;

  

}

h3{
    font-size: 30px;
    
}
